<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.cart.CartMapper">

    <insert id="insertCart" parameterType="com.example.cart.Cart" useGeneratedKeys="true" keyProperty="cartId">
        INSERT INTO PRODUCT (
        CARTID,
        PRODUCTNAME,
        BOX,
        AMOUNT,
        STOCK,
        PRODUCTID,
        PRICE
        )
        VALUES (
        #{cartId},
        #{productName},
        #{box},
        #{amount},
        #{stock},
        #{productId},
        #{price}
        )
    </insert>

    <select id="readCart" resultType="com.example.cart.Cart">
        SELECT cartId, productName, box, amount, stock, productId, price
        FROM cart
    </select>

    <delete id="deleteCart" parameterType="int">
    DELETE FROM cart
    WHERE cartId = #{cartId}
    </delete>

<select id="readCartDetail" resultType="com.example.cart.Cart" parameterType="int">
        SELECT cartId, productName, box, amount, stock, productId, price
        FROM cart
        WHERE cartId = #{cartId}
    </select>

</mapper>