<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.product.ProductMapper">

    <insert id="insertProduct" parameterType="com.example.product.Product" useGeneratedKeys="true" keyProperty="productId">
        INSERT INTO PRODUCT (
        PRODUCTNAME,
        CONTENT,
        PRICE,
        SELLPRICE,
        STOCK,
        PRODUCTSTATUS,
        CREATEDAT,
        UPDATEDAT
        )
        VALUES (
        #{productName},
        #{content},
        #{price},
        #{sellPrice},
        #{stock},
        #{productStatus},
        NOW(),
        NOW()
        )
    </insert>

    <select id="readProduct" resultType="com.example.product.Product">
        SELECT productId, productName, content, price, stock, productStatus, createdAt, updatedAt
        FROM product
    </select>

    <delete id="deleteProduct" parameterType="int">
        DELETE FROM product
        WHERE productId = #{productId}
    </delete>

    <select id="readProductDetail" resultType="com.example.product.Product" parameterType="int">
        SELECT productId, productName, content, price, stock, productStatus, createdAt, updatedAt
        FROM product
        WHERE productId = #{productId}
    </select>

</mapper>