<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.product.ProductMapper">

    <insert id="insertProduct" parameterType="com.example.product.Product" useGeneratedKeys="true" keyProperty="productId">
        INSERT INTO PRODUCT (
        PRODUCTNAME,
        CONTENT,
        PRICE,
        SELLPRICE,
        STOCK,
        PRODUCTSTATUS,
        CREATEDAT,
        UPDATEDAT
        )
        VALUES (
        #{productName},
        #{content},
        #{price},
        #{sellPrice},
        #{stock},
        #{productStatus},
        NOW(),
        NOW()
        )
    </insert>

    <select id="readProduct" resultType="com.example.product.Product">
        SELECT productId
        , productName
        , content
        , price
        , stock
        , productStatus
        , createdAt
        , updatedAt
        FROM product
        WHERE 1 = 1
        <if test="productName != null">
         AND productName like '%'||#{productName}||'%'
        </if>
    </select>

    <delete id="deleteProduct" parameterType="int">
        DELETE FROM product
        WHERE productId = #{productId}
    </delete>

    <select id="readProductDetail" resultType="com.example.product.Product" parameterType="int">
        SELECT productId, productName, content, price, stock, productStatus, createdAt, updatedAt
        FROM product
        WHERE productId = #{productId}
    </select>



    <select id="heartCount" parameterType="com.example.product.Product" resultType="int">
        SELECT ID
        , PRODUCTID
        , USERID
        , HEART_COUNT
        FROM HEART
        WHERE userId=#{userId} and productId=#{productId}
    </select>

    <insert id="insertHeart" parameterType="com.example.product.Product" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO HEART (
          ID
        , PRODUCTID
        , USERID
        , HEART_COUNT )
        VALUES (
          #{id}
        , #{productId}
        , #{userId}
        , #{heartCount}
        )
    </insert>

    <delete id="deleteHeart" parameterType="com.example.product.Product">
        DELETE
        FROM HEART
        WHERE id=#{id}
    </delete>

</mapper>